html{
	height: 100%;
	margin: auto;
	overflow: scroll%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

html{
	font-family: "Century Gothic", sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.5)), url("images/bg.jpg") center no-repeat);
	background-size: cover;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: #7BAFD4;
}

nav ul{
	display: flex;
}

nav ul li {
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: .5s;
}

nav ul li:nth-child(2){
	animation-delay: 1s;
}

nav ul li:nth-child(3){
	animation-delay: 1.3s;
}

nav ul li:nth-child(4){
	animation-delay: 1.9s;
}

nav ul li:nth-child(5){
	animation-delay: 2.3s;
}

nav ul li:nth-child(6){
	animation-delay: 2.9s;
}


nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #7BAFD4;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn{
	from{

	}

	to{
		transform: translateX(0);
	}
}

body{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 0;
	background: url(images/bg.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 1.25em;
}

.box{
	line-height: 200%;
	color: white;
	font-weight: 100;
	font-family: "Century Gothic", sans-serif;
	width: 650px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 200px;
	right: 0;
	left: 0;
	border-radius: 3px;

}

.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.blog{
	line-height: 200%;
	color: white;
	font-weight: 100;
	font-size: 1.25em;
	font-family: "Century Gothic", sans-serif;
	width: 50%;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 200px;
	right: 0;
	left: 0;
	border-radius: 3px;
}
